<link rel="stylesheet" href="/stylesheets/style.css">

<div class="box-notify">
    <h3>Successfull transaction</h3>
    <div class="text-center mb-3"> 
        <a href="/" class="btn hvr-hover" style="color: #fff;">Back to Homepage</a> 
    </div>
</div>
